/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  position: relative;
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $base-color-text;
}

img {
  // max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
