/* здесь используйте глобальные переменные */
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;
$base-color-text: #000000;
$base-secondary-color-text: #ffffff;
$background-basic-green: #68b738;
