.advantages__container {
  @media (min-width: $tablet-width) {
    width: 709px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 22px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 249px 249px;
    gap: 137px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.advantages__item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.advantages__description {
  width: 200px;
  font-family: $secondary-font;
  color: $base-grey-text;
}

.advantages__icon--leaf {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
  background-position: center;
  background-color: $background-basic-green;
  background-repeat: no-repeat;
}

.advantages__icon--powder {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/stack.svg#icon-powder");
  background-size: 26px 29px;
  background-position: center;
  background-color: $background-basic-green;
  background-repeat: no-repeat;
}

.advantages__icon--eat {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/stack.svg#icon-eat");
  background-size: 25px 30px;
  background-position: center;
  background-color: $background-basic-green;
  background-repeat: no-repeat;
}

.advantages__icon--scales {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url("../../images/icons/stack.svg#icon-scales");
  background-size: 26px 31px;
  background-position: center;
  background-color: $background-basic-green;
  background-repeat: no-repeat;
}
