.button {
  padding: 10px 44px;
  background-color: $background-basic-green;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $base-secondary-color-text;
  text-transform: uppercase;
  border: none;
}

.button--secondary {
  background-color: #f2f2f2;
  color: $base-grey-text;
  text-decoration: none;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  opacity: 0.3;
}

.button--secondary:hover {
  background-color: #ebebeb;
}

.button--secondary:active {
  opacity: 1;
}
