.container {
  max-width: 1220px;
  margin: 0 auto;
}

.container__logo {
  padding: 13px 55px 13px 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-self: flex-start;
  }
}
