.example {
  background-color: #eaeaea;
}

.example__description {
  font-family: $secondary-font;
  color: #444444;
}

.example__value--primary {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.example__definition--primary {
  font-size: 24px;
  line-height: 24px;
}

.example__value--secondary {
  line-height: 20px;
  text-transform: uppercase;
}

.example__definition--secondary {
  line-height: 20px;
  text-transform: uppercase;
}
