.hero {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 100%, #ffffff 10%),
    image-set(
    url("../../images/cat-background-mobile@1x.jpg") 1x,
    url("../../images/cat-background-mobile@2x.jpg") 2x
    );
  background-size: 320px 302px;
  background-repeat: no-repeat;
  color: $base-secondary-color-text;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    background-image: none;
    background-color: #ffffff;
    color: $base-color-text;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 266px;
  }
}

.hero::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background:
      linear-gradient(to left, rgba(104, 183, 56, 0.85) 100%, #ffffff 10%),
      image-set(
      url("../../images/cat-background-desktop@1x.jpg") 1x,
      url("../../images/cat-background-desktop@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    width: 720px;
    height: 694px;
  }
}

.hero__title {
  margin-bottom: 25px;
  overflow-wrap: break-word;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    width: 416px;
    padding-left: 90px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin-bottom: 52px;
  }
}

.hero__image {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 143px;
    right: 23%;
  }
}

.hero__link {
  text-align: center;
  margin: 0 20px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 244px;
    box-sizing: border-box;
    position: absolute;
    left: 120px;
    top: 370px;
  }
}
