.hero {
  background-color: $background-basic-green;
  color: $base-secondary-color-text;
}

.hero__slogan {
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link {
  text-decoration: none;
}
