.information__text {
  text-transform: uppercase;
}

.information__legend {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 16px;
}

.information {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 628px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
