.location__contacts {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    padding: 60px 76px 60px 78px;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    left: 111px;
    bottom: 274px;
  }
}

.location__contacts--secondary {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    padding-left: 78px;
    padding-right: 78px;
    background-color: #ffffff;
  }
}
