.location__contacts {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    background-color: #ffffff;
    left: 110px;
    bottom: 230px;
  }
}

.location__contacts--secondary {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
