.logo__image {
  cursor: pointer;
  color: #111111;
}

.logo__image:hover,
.logo__image:focus {
  color: #3e3e3e;
}

.logo__image:active {
  color: #6b6b6b;
}

.logo__image--icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}
