.product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-light-black2-text;
}

.product__title--more {
  background-image: url("../../images/icons/stack.svg#icon-plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: $base-light-black-text;
}

.product__text {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey-text;
}

.product__card {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
