.product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-light-black2-text;
}

.product__title--more {
  background-image: url("../../images/icons/stack.svg#icon-plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: $base-light-black-text;
}

.product__text {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey-text;
}
