.promo {
  width: 280px;
  height: 290px;
  background-image: url("../../images/icons/icon-gift.svg");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-color: $background-basic-green;
  color: $base-secondary-color-text;
}

.promo__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
}
