.site-list {

}

.site-list__item {

}

.site-list__item--current {

}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.site-list__link--current {

}


