.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__link--index {
  @media (min-width: $desktop-width) {
    color: $base-secondary-color-text;
  }
}

.site-list {
  background-color: #ffffff;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    justify-content: flex-end;
  }
}

.site-list a {
  display: block;
  padding: 22px 20px 23px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 13px 2px 9px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.site-list--catalog a {
  @media (min-width: $tablet-width) {
    padding-top: 11px;
    padding-bottom: 7px;
  }
}

.site-list--form a {
  @media (min-width: $tablet-width) {
    padding: 11px 1px 7px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.site-list li:nth-child(1) {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 31px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 29px;
  }
}

.site-list__item--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $background-basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
    }
  }
}

.site-list__item--current-index {
  @media (min-width: $desktop-width) {
    &::after {
      background: #ffffff;
    }
  }
}

.site-list__item a[href] {
  @media (min-width: $tablet-width) {
    &:hover {
      color: #3e3e3e;
    }

    &:active {
      color: #6b6b6b;
    }
  }
}
