.slider {
  position: relative;
}

.slider__container {
  height: 256px;
  width: 100%;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__picture img {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__picture--primary {
  width: 50%;
  overflow: hidden;
}

.slider__picture--secondary {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.slider__button {
  padding: 0;
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 4px;
  height: 256px;
  border-radius: 10px;
  background-color: #666666;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.slider__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 18px;
  transform: translate(-50%, -50%);
  mask-image: url("../../images/icons/stack.svg#slider-arrow");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666666;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__button:hover,
.slider__button:hover::after {
  background-color: #68b738;
}

.slider__button:hover::before {
  border-color: #68b738;
}

.slider__button:active,
.slider__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}

.slider__button:active::before {
  border-color: rgba(94, 170, 47, 0.6);
}
