.social {
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 17px;
  }
}

.social__link {
  cursor: pointer;
  color: $background-special-grey2;
}

.social__link:hover,
.social__link:focus {
  color: $background-basic-green;
}

.social__link:active {
  color: $background-basic-green;
  opacity: 0.3;
}
